@import
	'_custom_bootstrap_variables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
    '_mixins.scss';
body{
    font-family: 'Roboto', sans-serif;
}
html,
body {
    height: 100%;
}
.wrapper{
    min-height: 100%;
}
.footer,.header{
    flex: 0 0 auto;
}
.main{
    flex: 1 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
}
.promo_block{
    + .main{
        padding-top: 30px;
    }
}
.animated  {
  -webkit-animation-duration : 3000ms  !important;
  animation-duration : 3000ms   !important;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
} 